<div class="jumbotron bgimagen2">
    <div class="container">
        <%= link_to "Registrese como Chofer", user_newdriver_path, :class => "btn btn-blue btn-lg btn-huge lato textobutton "  %>
    </div>
</div>

<br/>

<div class="container">
    <div class="col-md-12"></div>
    <!-- Example row of columns -->
    <div class="col-md-1"></div>
    <div class="row">
        <div class="col-md-5">
            <h2>Gana dinero cómo tú quieras</h2>
            <p>Es fácil ganar dinero ayudando a la gente a desplazarse por la ciudad. La cantidad de dinero dependerá totalmente de ti. Con tantos pasajeros en la ciudad, hay oportunidades en todas partes.</p>
        </div>
        <div class="col-md-5">
            <h2>Establece tu propio horario</h2>
            <p>Cuando conduces con Uber, tú decides cuándo y cómo quieres trabajar. Así, nunca tendrás que elegir entre ganarte la vida o vivir la vida.</p>
        </div>
        <div class="col-md-1"></div>       
    </div>
</div>