<section class="container-fluid"style="background:none;">

        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">CONTACTENOS</h1>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">

                <div class="row form-group">
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Nombre" required="">
                    </div>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="middleName" name="firstName" placeholder="Apellido" required="">
                    </div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="lastName" name="lastName" placeholder="DNI" required="">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-6">
                        <input type="email" class="form-control" name="email" placeholder="Email" required="">
                    </div>
                    <div class="col-sm-5">
                        <input type="email" class="form-control" name="phone" placeholder="Celular" required="">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-11">
                        <input type="homepage" class="form-control" placeholder="Descripcion" required="">
                    </div>
                </div>
 
                <div class="row form-group">
                    <div class="col-sm-11">
                        <button class="btn btn-primary btn-lg btn-block">Contactanos</button>
                    </div>
                </div>
                
                <div class="row form-group">
                    <iframe  width="860" height="500" style="margin:auto; padding:10px;" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=Universidad%20Peruana%20de%20Ciencias%20Aplicadas&key=AIzaSyAEz6ZPTS0y5N4hnuVx2nVqlK2tXsfftmQ" allowfullscreen></iframe>                    
                </div>
            </div>
            <div class="col-sm-3"></div>  
            </div>
        </div>
</section>
