
<div class="v-center">
    <h1 class="text-center">TAXI EXPRESS</h1>
    <h2 class="text-center lato animate slideInDown">A cualquier lugar<b> en un solo toque </b></h2>
    <p class="text-center">
        <br>
            <%= link_to "Registrese como Cliente", user_newclient_path, :class => "btn btn-blue btn-lg btn-huge lato"  %>
            <%= link_to "Registrese como Chofer", user_newdriver_path, :class => "btn btn-blue btn-lg btn-huge lato"  %>
    </p>
</div>

