  <body>
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron bgimagen3" >
      <div class="container">
          <%= link_to "Registrese como Cliente", user_newclient_path, :class => "btn btn-blue btn-lg btn-huge lato textobutton "  %>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        
        <div class="col-md-4">
          <div class="border-icon"></div>
          <h2 class="text-center">Aprieta un botón y consigue un viaje</h2>
          <p>Elige tu viaje y establece tu ubicación. Verás la foto de tu conductor y la información de su vehículo, y también podrás controlar su llegada en el mapa. </p>
        </div>
        
        <div class="col-md-4">
          <div class="border-icon"></div>
          <h2 class="text-center">Sin efectivo, sin propina, sin complicaciones</h2>
          <p>Cuando llegues a tu destino solo te tendrás que bajar del coche. Nosotros cobraremos el viaje automáticamente a la tarjeta de crédito registrada. Y no es necesario dejar propina.</p>
       </div>
       
        <div class="col-md-4">
          <div class="border-icon"></div>
          <h2 class="text-center">Tú calificas, nosotros escuchamos</h2>
          <p>Valora a tu conductor y deja un comentario anónimo sobre tu viaje. Tus comentarios nos ayudan a que cada viaje sea una experiencia de 5 estrellas.</p>
        </div>
        
      </div>

  </body>